{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name reframe_test-front.conf, :imports nil, :requires nil, :uses nil, :defs {setting {:name reframe_test-front.conf/setting, :file "src_front_profile\\reframe_test_front\\dev\\conf.cljs", :line 3, :column 1, :end-line 3, :end-column 13, :meta {:file "C:\\Users\\karad\\study\\descjop\\reframe_test\\src_front_profile\\reframe_test_front\\dev\\conf.cljs", :line 3, :column 6, :end-line 3, :end-column 13}, :tag cljs.core/IMap}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:my-env}, :order [:my-env]}, :doc nil}